<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scottish Animal Shelter</title>

  <link rel="stylesheet"
  type="text/css" href="/styles/structure.css" />
  <link rel="stylesheet" type="text/css" href="/styles/tables.css" />
</head>
<body>
  <main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/add_pet">Add Pet</a>
      </li>
      <li>
        <a href="/available-pets">Available for Adoption</a>
      </li>
      <li>
      <a href="/veterinary-care">Pets still in Veterinary Care</a>
    </li>
    <li>
      <a href="/all-pets">See all Pets</a>
    </li>
    <li>
      <a href="/all-owners">See all Adopters</a>
    </li>
    <li>
      <a href="/successful-introductions">Successful Introductions</a>
    </li>
    <li>
      <a href="/add-adoption">Add an adoption</a>
    </li>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</main>

</body>
</html>
